<nav class="navbar">
  <div class="logo">
    <!-- Ajout d'une touche de couleur -->
    <a routerLink="/">Yo<span class="brand-accent">Learn</span></a>
  </div>

  <!-- Le menu -->
  <ul class="nav-links" [class.active]="isMenuOpen">
    <!-- (click)="isMenuOpen = false" permet de fermer le menu quand on clique sur un lien -->
    <li (click)="isMenuOpen = false">
      <a routerLink="/formation-dashboard" routerLinkActive="active">
        📊 Dashboard
      </a>
    </li>
    <li (click)="isMenuOpen = false">
      <a routerLink="/create_formation" routerLinkActive="active">
        ➕ Créer Formation
      </a>
    </li>
  </ul>

  <!-- Le bouton Burger -->
  <!-- Ajout de la classe [class.open] pour gérer l'animation des lignes -->
  <div class="burger" [class.open]="isMenuOpen" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>
