<div class="card mt-2 mb-2 chapter-card">
  <div class="card-header bg-light d-flex justify-content-between align-items-center">
    Chapitre {{ chapitreIndex + 1 }}:
    <button type="button" class="btn btn-sm btn-danger" (click)="onRemoveChapitre()">
      <i class="bi bi-trash"></i> Supprimer le Chapitre
    </button>
  </div>
  <div class="card-body">
    <div class="form-group mb-3">
      <label for="chapitreTitre{{coursIndex}}{{chapitreIndex}}">Titre du chapitre :</label>
      <input type="text" id="chapitreTitre{{coursIndex}}{{chapitreIndex}}" class="form-control" [(ngModel)]="currentChapitre().titre" name="chapitreTitre{{coursIndex}}{{chapitreIndex}}" required>
    </div>

    <!-- Gestion des Sections (Composants Enfants) -->
    <div class="card mt-3">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        Sections du Chapitre
        <button type="button" class="btn btn-sm btn-light" (click)="onAddSection()">
          <i class="bi bi-plus-circle"></i> Ajouter une Section
        </button>
      </div>
      <div class="card-body">
        @for (section of currentChapitre().sections; track k; let k = $index) {
          <app-section-form
            [section]="currentChapitre().sections![k]"
            [chapitreIndex]="chapitreIndex"
            [sectionIndex]="k"
            (remove)="onRemoveSection($event)"
            (fileUpload)="onSectionFileUploaded($event)"
            [coursIndex]=""></app-section-form>
        }
      </div>
    </div>
  </div>
</div>
