<div class="card mb-3 course-card">
  <div class="card-header bg-light d-flex justify-content-between align-items-center">
    Cours {{ coursIndex + 1 }}:
    <button type="button" class="btn btn-sm btn-danger" (click)="onRemoveCours()">
      <i class="bi bi-trash"></i> Supprimer le Cours
    </button>
  </div>
  <div class="card-body">
    <div class="form-group mb-3">
      <label for="coursTitre{{coursIndex}}">Titre du cours :</label>
      <input type="text" id="coursTitre{{coursIndex}}" class="form-control" [(ngModel)]="currentCours().titre" name="coursTitre{{coursIndex}}" required>
    </div>
    <div class="form-group mb-3">
      <label for="coursResume{{coursIndex}}">Résumé du cours :</label>
      <textarea id="coursResume{{coursIndex}}" class="form-control" [(ngModel)]="currentCours().resume" name="coursResume{{coursIndex}}" rows="2"></textarea>
    </div>

    <!-- Gestion des Chapitres (Composants Enfants) -->
    <div class="card mt-3">
      <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
        Chapitres du Cours
        <button type="button" class="btn btn-sm btn-light" (click)="onAddChapitre()">
          <i class="bi bi-plus-circle"></i> Ajouter un Chapitre
        </button>
      </div>
      <div class="card-body">
        @for (chapitre of currentCours().chapitres; track j; let j = $index) {
          <app-chapitre-form
            [chapitre]="currentCours().chapitres![j]"
            [coursIndex]="coursIndex"
            [chapitreIndex]="j"
            (remove)="onRemoveChapitre($event)"
            (addSection)="onAddSection($event)"
            (removeSection)="onRemoveSection($event.chapitreIndex, $event.sectionIndex)"
            (sectionFileUpload)="onSectionFileUploaded($event)"
          ></app-chapitre-form>
        }
      </div>
    </div>
  </div>
</div>
